openapi: 3.1.0
info:
  title: Merchent APIs V2.3.0
  description: >-
    Merchant APIs


    Contact Support:
     Name: Salla
     Email: support@salla.dev
  contact: {}
  version: '1.0'
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
- url: https://api.salla.dev/admin/v2
  variables: {}
- url: https://accounts.salla.sa/oauth2
  variables: {}
paths:
  /orders:
    post:
      tags:
      - Orders
      summary: Create Order
      description: "This endpoint allows you to create an order related to your store directly from this endpoint.\n\n<!-- theme: info -->\n\n> \U0001F4A1 __Note__\n>\n> When creating an order, you must send either the `customer_id` variable or the `receiver` object, or both."
      operationId: CreateOrder
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateOrderRequest'
              - examples:
                - customer_id: 1438395499
                  shipping_address:
                    country_id: 566146469
                    city_id: 2097610897
                    block: Om El 9823489237
                    street_number: jmoh El 8912749823764
                    address: building 124234324, floor 212423
                    postal_code: '23874982374'
                    geocode: 21.4283792, 21.4283792
                  payment:
                    status: paid
                    method: credit_card
                  products:
                  - id: 784769282
              contentMediaType: application/json
            example:
              customer_id: 1438395499
              shipping_address:
                country_id: 566146469
                city_id: 2097610897
                block: Om El 9823489237
                street_number: jmoh El 8912749823764
                address: building 124234324, floor 212423
                postal_code: '23874982374'
                geocode: 21.4283792, 21.4283792
              payment:
                status: paid
                method: credit_card
              products:
              - id: 784769282
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Newordercreatedsuccessfully.'
                - examples:
                  - status: 200
                    success: true
                    data:
                      id: 1275404514
                      reference_id: 40497223
                      urls:
                        customer: https://salla.sa/dev-wofftr4xsra5xtlv/order/Rowq4JLlxVenM8ELG5X1vzOPYXyjGpQ0
                        admin: https://s.salla.sa/orders/order/Rowq4JLlxVenM8ELG5X1vzOPYXyjGpQ0
                      date:
                        date: 2022-06-16 14:41:05.000000
                        timezone_type: 3
                        timezone: Asia/Riyadh
                      source: dashboard-api
                      source_device: desktop
                      source_details:
                        type: dashboard-api
                        value: null
                        device: desktop
                        user-agent: PostmanRuntime/7.29.0
                        ip: null
                      first_complete_at: null
                      status:
                        id: 566146469
                        name: بإنتظار المراجعة
                        slug: under_review
                      payment_method: credit_card
                      currency: SAR
                      amounts:
                        sub_total:
                          amount: 0
                          currency: SAR
                        shipping_cost:
                          amount: 0
                          currency: SAR
                        cash_on_delivery:
                          amount: 0
                          currency: SAR
                        tax:
                          percent: '0.00'
                          amount:
                            amount: 0
                            currency: SAR
                        discounts: []
                        total:
                          amount: 0
                          currency: SAR
                      shipping: []
                      can_cancel: true
                      can_reorder: true
                      is_pending_payment: false
                      pending_payment_ends_at: 75598
                      rating_link: https://store-test.com/rating-link
                      shipment_branch: []
                      customer:
                        id: 1438395499
                        first_name: صالح
                        last_name: '4'
                        mobile: 540090076
                        mobile_code: '+966'
                        email: ''
                        urls:
                          customer: https://salla.sa/dev-wofftr4xsra5xtlv/profile
                          admin: https://s.salla.sa/customers/Y7GXy5K8j9Qw1lrAKz3WLPkOq4omVNR2
                        avatar: https://store-test.com/cp/assets/images/avatar_male.png
                        gender: ''
                        birthday: null
                        city: ''
                        country: السعودية
                        country_code: null
                        currency: SAR
                        location: ''
                        updated_at:
                          date: 2022-05-23 09:37:10.000000
                          timezone_type: 3
                          timezone: Asia/Riyadh
                      items:
                      - id: 510046883
                        name: تي شيرت بلاك
                        sku: '996754231'
                        quantity: 1
                        currency: SAR
                        weight: 12
                        amounts:
                          price_without_tax:
                            amount: 55
                            currency: SAR
                          total_discount:
                            amount: 0
                            currency: SAR
                          tax:
                            percent: '0'
                            amount:
                              amount: 0
                              currency: SAR
                          total:
                            amount: 55
                            currency: SAR
                        notes: ''
                        product:
                          id: 784769282
                          type: product
                          promotion:
                            title: New
                            sub_title: Collection 2020
                          status: sale
                          is_available: true
                          sku: '996754231'
                          name: تي شيرت بلاك
                          price:
                            amount: 55
                            currency: SAR
                          sale_price:
                            amount: 0
                            currency: SAR
                          currency: SAR
                          url: https://salla.sa/dev-wofftr4xsra5xtlv/t-shirt-blue-collection-2020/p784769282
                          thumbnail: https://cdn.salla.sa/bYQEn/uUTgTrRihqRAGXy0jEV8DcJ3D8j4v6PPtwRpkCdz.png
                          has_special_price: false
                          regular_price:
                            amount: 55
                            currency: SAR
                          calories: null
                          mpn: '45343'
                          gtin: '14643439'
                          favorite: null
                        options: []
                        images: []
                        codes: []
                        files: []
                      bank: null
                      tags: []
                contentMediaType: application/json
              example:
                status: 200
                success: true
                data:
                  id: 1275404514
                  reference_id: 40497223
                  urls:
                    customer: https://salla.sa/dev-wofftr4xsra5xtlv/order/Rowq4JLlxVenM8ELG5X1vzOPYXyjGpQ0
                    admin: https://s.salla.sa/orders/order/Rowq4JLlxVenM8ELG5X1vzOPYXyjGpQ0
                  date:
                    date: 2022-06-16 14:41:05.000000
                    timezone_type: 3
                    timezone: Asia/Riyadh
                  source: dashboard-api
                  source_device: desktop
                  source_details:
                    type: dashboard-api
                    value: null
                    device: desktop
                    user-agent: PostmanRuntime/7.29.0
                    ip: null
                  first_complete_at: null
                  status:
                    id: 566146469
                    name: بإنتظار المراجعة
                    slug: under_review
                  payment_method: credit_card
                  currency: SAR
                  amounts:
                    sub_total:
                      amount: 0
                      currency: SAR
                    shipping_cost:
                      amount: 0
                      currency: SAR
                    cash_on_delivery:
                      amount: 0
                      currency: SAR
                    tax:
                      percent: '0.00'
                      amount:
                        amount: 0
                        currency: SAR
                    discounts: []
                    total:
                      amount: 0
                      currency: SAR
                  shipping: []
                  can_cancel: true
                  can_reorder: true
                  is_pending_payment: false
                  pending_payment_ends_at: 75598
                  rating_link: https://store-test.com/rating-link
                  shipment_branch: []
                  customer:
                    id: 1438395499
                    first_name: صالح
                    last_name: '4'
                    mobile: 540090076
                    mobile_code: '+966'
                    email: ''
                    urls:
                      customer: https://salla.sa/dev-wofftr4xsra5xtlv/profile
                      admin: https://s.salla.sa/customers/Y7GXy5K8j9Qw1lrAKz3WLPkOq4omVNR2
                    avatar: https://store-test.com/cp/assets/images/avatar_male.png
                    gender: ''
                    birthday: null
                    city: ''
                    country: السعودية
                    country_code: null
                    currency: SAR
                    location: ''
                    updated_at:
                      date: 2022-05-23 09:37:10.000000
                      timezone_type: 3
                      timezone: Asia/Riyadh
                  items:
                  - id: 510046883
                    name: تي شيرت بلاك
                    sku: '996754231'
                    quantity: 1
                    currency: SAR
                    weight: 12
                    amounts:
                      price_without_tax:
                        amount: 55
                        currency: SAR
                      total_discount:
                        amount: 0
                        currency: SAR
                      tax:
                        percent: '0'
                        amount:
                          amount: 0
                          currency: SAR
                      total:
                        amount: 55
                        currency: SAR
                    notes: ''
                    product:
                      id: 784769282
                      type: product
                      promotion:
                        title: New
                        sub_title: Collection 2020
                      status: sale
                      is_available: true
                      sku: '996754231'
                      name: تي شيرت بلاك
                      price:
                        amount: 55
                        currency: SAR
                      sale_price:
                        amount: 0
                        currency: SAR
                      currency: SAR
                      url: https://salla.sa/dev-wofftr4xsra5xtlv/t-shirt-blue-collection-2020/p784769282
                      thumbnail: https://cdn.salla.sa/bYQEn/uUTgTrRihqRAGXy0jEV8DcJ3D8j4v6PPtwRpkCdz.png
                      has_special_price: false
                      regular_price:
                        amount: 55
                        currency: SAR
                      calories: null
                      mpn: '45343'
                      gtin: '14643439'
                      favorite: null
                    options: []
                    images: []
                    codes: []
                    files: []
                  bank: null
                  tags: []
        '422':
          description: Unprocessable Entity (WebDAV) (RFC 4918)
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Validationfailureresponse1'
                - examples:
                  - status: 422
                    success: false
                    error:
                      code: error
                      message: alert.invalid_fields
                      fields:
                        customer_id:
                        - حقل رقم العميل يحتوي على قيم غير صحيحة
                        shipping_address.branch_id:
                        - حقل رقم الفرع يحتوي على قيم غير صحيحة
                        products.0.id:
                        - حقل رقم المنتج يحتوي على قيم غير صحيحة
                contentMediaType: application/json
              example:
                status: 422
                success: false
                error:
                  code: error
                  message: alert.invalid_fields
                  fields:
                    customer_id:
                    - حقل رقم العميل يحتوي على قيم غير صحيحة
                    shipping_address.branch_id:
                    - حقل رقم الفرع يحتوي على قيم غير صحيحة
                    products.0.id:
                    - حقل رقم المنتج يحتوي على قيم غير صحيحة
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    get:
      tags:
      - Orders
      summary: List Orders
      description: You can list all orders related to your store directly from this endpoint. Also, it allows you to filter them using a different set of optional parameters.
      operationId: ListOrders
      parameters:
      - name: keyword
        in: query
        description: <br>- `customer.mobile` | 966511804534 <br>- `customer.name` | Del John <br>- `shipping_number` | Find a specific shipment by its ID from [here](https://docs.salla.dev/docs/merchant/ef30fb0e90b00-list-order-shipments) <br>- `reference_id` | 613398835 <br>- `tag_name` | Find a specific tag by its name from [here](https://docs.salla.dev/docs/merchant/c301cfb379e20-list-tags)
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ad ipsum incididunt in
      - name: status
        in: query
        description: Find orders for specific status (array of ID integers). List of statuses can be found [here](https://docs.salla.dev/docs/merchant/a236a8974fa22-list-order-statuses)
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 11
      - name: from_date
        in: query
        description: Find orders created after a specific date.
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 30-12-2022
      - name: to_date
        in: query
        description: Find orders created before a specific date.
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 31-12-2022
      - name: country
        in: query
        description: Integer find orders for specific country. List of countries can be found [here](https://docs.salla.dev/docs/merchant/b3A6ODUwMzM4-list-countries)
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1473353380
      - name: city
        in: query
        description: Find orders for specific city. List of cities can be found [here](https://docs.salla.dev/docs/merchant/b3A6NTU1Nzc3OA-list-cities)
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - جدة
      - name: product
        in: query
        description: Find orders for specific product via its `name` variable. List of products can be found [here](https://docs.salla.dev/docs/merchant/b3A6MTMzOTUw-list-products)
        required: true
        style: form
        explode: true
        schema:
          type: string
          examples:
          - ad ipsum incididunt in
      - name: expanded
        in: query
        description: Get full details of orders same as [order details](https://docs.salla.dev/docs/merchant/6c0426c1988a8-order-details) response by setting the value to `true`.
        required: true
        style: form
        explode: true
        schema:
          type: boolean
          examples:
          - false
      - name: page
        in: query
        description: The Pagination page number
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1
      - name: reference_id
        in: query
        description: This is the ID that appears to the store owner
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 613398835
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Asuccessfulcallreturnsapayloadthatcontainsacurrentlistofstoreorders'
                - examples:
                  - status: 200
                    success: true
                    data:
                    - id: 1017120475
                      reference_id: 40497536
                      total:
                        amount: 55
                        currency: SAR
                      date:
                        date: 2022-06-16 14:48:20.000000
                        timezone_type: 3
                        timezone: Asia/Riyadh
                      status:
                        id: 566146469
                        name: بإنتظار المراجعة
                        slug: under_review
                        customized:
                          id: 986688842
                          name: بإنتظار المراجعة
                      can_cancel: false
                      can_reorder: true
                      is_pending_payment: false
                      pending_payment_ends_at: 0
                      items:
                      - name: تي شيرت بلاك
                        quantity: 1
                    - id: 1013578136
                      reference_id: 40497469
                      total:
                        amount: 0
                        currency: SAR
                      date:
                        date: 2022-06-16 14:46:42.000000
                        timezone_type: 3
                        timezone: Asia/Riyadh
                      status:
                        id: 525144736
                        name: ملغي
                        slug: canceled
                        customized:
                          id: 1718741844
                          name: ملغي
                      can_cancel: false
                      can_reorder: true
                      is_pending_payment: true
                      pending_payment_ends_at: 0
                      items:
                      - name: Custom Shirt
                        quantity: 3
                    pagination:
                      count: 2
                      total: 2
                      perPage: 15
                      currentPage: 1
                      totalPages: 1
                      links: {}
                contentMediaType: application/json
              example:
                status: 200
                success: true
                data:
                - id: 1017120475
                  reference_id: 40497536
                  total:
                    amount: 55
                    currency: SAR
                  date:
                    date: 2022-06-16 14:48:20.000000
                    timezone_type: 3
                    timezone: Asia/Riyadh
                  status:
                    id: 566146469
                    name: بإنتظار المراجعة
                    slug: under_review
                    customized:
                      id: 986688842
                      name: بإنتظار المراجعة
                  can_cancel: false
                  can_reorder: true
                  is_pending_payment: false
                  pending_payment_ends_at: 0
                  items:
                  - name: تي شيرت بلاك
                    quantity: 1
                - id: 1013578136
                  reference_id: 40497469
                  total:
                    amount: 0
                    currency: SAR
                  date:
                    date: 2022-06-16 14:46:42.000000
                    timezone_type: 3
                    timezone: Asia/Riyadh
                  status:
                    id: 525144736
                    name: ملغي
                    slug: canceled
                    customized:
                      id: 1718741844
                      name: ملغي
                  can_cancel: false
                  can_reorder: true
                  is_pending_payment: true
                  pending_payment_ends_at: 0
                  items:
                  - name: Custom Shirt
                    quantity: 3
                pagination:
                  count: 2
                  total: 2
                  perPage: 15
                  currentPage: 1
                  totalPages: 1
                  links: {}
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/{order_id}:
    get:
      tags:
      - Orders
      summary: Order Details
      description: "This endpoint allows you to return the complete details for a specific order by providing the ID of the order you want to get its details in the *order* path parameter.\n\n> \U0001F4A1 __Note__\n>\n> You are also able to send the `reference_id` as a *query parameter* to get order details. Check the [List Orders Endpoint](https://docs.salla.dev/docs/merchant/b3A6NTU1NzcyNA-list-orders) for more."
      operationId: OrderDetails
      parameters:
      - name: order_id
        in: path
        description: (Required) The Order ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 213320125
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orderdetailsreturnedsuccessfully.'
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ObjectNotFound1'
                - examples:
                  - success: false
                    status: 404
                    error:
                      code: 404
                      message: The content you are trying to access is no longer available
                contentMediaType: application/json
              example:
                success: false
                status: 404
                error:
                  code: 404
                  message: The content you are trying to access is no longer available
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/{order_id}/histories:
    get:
      tags:
      - Orders
      summary: Order Histories
      description: >-
        This endpoint allows you to return the history for a specific order by providing the ID of the order you want to get its history in the *order* path parameter.


        Order history is a list of previous and current order statuses.
      operationId: OrderHistories
      parameters:
      - name: page
        in: query
        description: The Pagination page number
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1
      - name: order_id
        in: path
        description: (Required) The Order ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 213320125
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Asuccessfulcallreturnsapayloadthatcontainsaspecificorderhistory.'
                - examples:
                  - success: true
                    status: 200
                    data:
                    - id: 213320125
                      status: تم التنفيذ
                      note: تم ارسال الطلب عبر شركة الشحن ارامكس
                      created_at:
                        date: 2020-04-02 18:59:47.000000
                        timezone_type: 3
                        timezone: Asia/Riyadh
                    - id: 213320122
                      status: قيد التنفيذ
                      note: 'null'
                      created_at:
                        date: 2020-04-02 16:59:47.000000
                        timezone_type: 3
                        timezone: Asia/Riyadh
                    - id: 213320121
                      status: تحت المراجعة
                      note: 'null'
                      created_at:
                        date: 2020-04-02 16:50:47.000000
                        timezone_type: 3
                        timezone: Asia/Riyadh
                    pagination:
                      count: 3
                      total: 3
                      perPage: 15
                      currentPage: 1
                      totalPages: 1
                      links: []
                contentMediaType: application/json
              example:
                success: true
                status: 200
                data:
                - id: 213320125
                  status: تم التنفيذ
                  note: تم ارسال الطلب عبر شركة الشحن ارامكس
                  created_at:
                    date: 2020-04-02 18:59:47.000000
                    timezone_type: 3
                    timezone: Asia/Riyadh
                - id: 213320122
                  status: قيد التنفيذ
                  note: 'null'
                  created_at:
                    date: 2020-04-02 16:59:47.000000
                    timezone_type: 3
                    timezone: Asia/Riyadh
                - id: 213320121
                  status: تحت المراجعة
                  note: 'null'
                  created_at:
                    date: 2020-04-02 16:50:47.000000
                    timezone_type: 3
                    timezone: Asia/Riyadh
                pagination:
                  count: 3
                  total: 3
                  perPage: 15
                  currentPage: 1
                  totalPages: 1
                  links: []
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ObjectNotFound1'
                - examples:
                  - success: false
                    status: 404
                    error:
                      code: 404
                      message: The content you are trying to access is no longer available
                contentMediaType: application/json
              example:
                success: false
                status: 404
                error:
                  code: 404
                  message: The content you are trying to access is no longer available
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/{order_id}/status:
    post:
      tags:
      - Order Status
      summary: Update Order Status
      description: "This endpoint allows you to update the status for a specific order by providing the ID of the order in the *order* path parameter.\nAlso you should pass either the status ID or the slug.\n\n>\U0001F4A1 __Note__\n>\n> To update an order status, you may use one of the following:\n> - `slug` to update an order with predefined Salla statuses.\n> - `status_id` to update the Custom Order Sub-status."
      operationId: UpdateOrderStatus
      parameters:
      - name: order_id
        in: path
        description: (Required) The Order ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 213320125
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateOrderStatusRequest'
              - examples:
                - slug: restoring
              contentMediaType: application/json
            example:
              slug: restoring
        required: true
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrderStatusupdatedsuccessfully.'
                - examples:
                  - status: 201
                    success: true
                    data:
                      message: The entity has been updated successfully
                      code: 201
                contentMediaType: application/json
              example:
                status: 201
                success: true
                data:
                  message: The entity has been updated successfully
                  code: 201
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ObjectNotFound5'
                - examples:
                  - status: 404
                    success: false
                    error:
                      code: error
                      message: المحتوى الذي تحاول الوصول اليه غير متوفر
                contentMediaType: application/json
              example:
                status: 404
                success: false
                error:
                  code: error
                  message: المحتوى الذي تحاول الوصول اليه غير متوفر
        '422':
          description: Unprocessable Entity (WebDAV) (RFC 4918)
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Validationfailureresponse3'
                - examples:
                  - status: 422
                    success: false
                    error:
                      code: error
                      message: alert.invalid_fields
                      fields:
                        status_id:
                        - حقل الحالة مطلوب إذا لم يتوفّر رمز الحالة.
                        slug:
                        - حقل رمز الحالة مطلوب إذا لم يتوفّر الحالة.
                contentMediaType: application/json
              example:
                status: 422
                success: false
                error:
                  code: error
                  message: alert.invalid_fields
                  fields:
                    status_id:
                    - حقل الحالة مطلوب إذا لم يتوفّر رمز الحالة.
                    slug:
                    - حقل رمز الحالة مطلوب إذا لم يتوفّر الحالة.
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/statuses:
    post:
      tags:
      - Order Status
      summary: Create Custom Sub-Status
      description: This endpoint allows you to create a custom order status using the parameters available to be sent as body request.
      operationId: CreateCustomSub-Status
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateCustomSub-StatusRequest'
              - examples:
                - parent_id: 863076598
                  name: تبقى 40 دقيقة على الدفع
                  message: أكمل الدفع الان
                  icon: sicon-cup-hot
                  sort: 3
                  is_active: true
              contentMediaType: application/json
            example:
              parent_id: 863076598
              name: تبقى 40 دقيقة على الدفع
              message: أكمل الدفع الان
              icon: sicon-cup-hot
              sort: 3
              is_active: true
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OK'
                - examples:
                  - status: 200
                    success: true
                    data:
                      id: 120960473
                      name: تبقى 40 دقيقة على الدفع
                      type: custom
                      slug: payment_pending
                      message: أكمل الدفع الان
                      color: '#ffff'
                      icon: sicon-cup-hot
                      sort: 3
                      is_active: true
                      original:
                        id: 1473353380
                        name: بإنتظار الدفع
                      parent:
                        id: 863076598
                        name: في انتظارك تدفع
                      children: []
                contentMediaType: application/json
              example:
                status: 200
                success: true
                data:
                  id: 120960473
                  name: تبقى 40 دقيقة على الدفع
                  type: custom
                  slug: payment_pending
                  message: أكمل الدفع الان
                  color: '#ffff'
                  icon: sicon-cup-hot
                  sort: 3
                  is_active: true
                  original:
                    id: 1473353380
                    name: بإنتظار الدفع
                  parent:
                    id: 863076598
                    name: في انتظارك تدفع
                  children: []
        '422':
          description: Unprocessable Entity (WebDAV) (RFC 4918)
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/UnprocessableEntity1'
                - examples:
                  - status: 422
                    success: false
                    error:
                      code: error
                      message: alert.invalid_fields
                      fields:
                        parent_id:
                        - حقل رقم الحالة الرئيسية - الأب  مطلوب.
                        name:
                        - حقل عنوان الحالة - اسم الحالة مطلوب.
                        message:
                        - حقل نص الرسالة الفرعية مطلوب.
                contentMediaType: application/json
              example:
                status: 422
                success: false
                error:
                  code: error
                  message: alert.invalid_fields
                  fields:
                    parent_id:
                    - حقل رقم الحالة الرئيسية - الأب  مطلوب.
                    name:
                    - حقل عنوان الحالة - اسم الحالة مطلوب.
                    message:
                    - حقل نص الرسالة الفرعية مطلوب.
      deprecated: false
      security:
      - bearer: []
    get:
      tags:
      - Order Status
      summary: List Order Statuses
      description: This endpoint allows you to fetch a list of all order statuses and sub-statuses.
      operationId: ListOrderStatuses
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asuccessfulcallreturnsapayloadthatcontainsacurrentlistoforderstatuses.'
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/statuses/{status_id}:
    get:
      tags:
      - Order Status
      summary: Order Status Details
      description: This endpoint allows you to fetch details about a specific order status by passing its ID.
      operationId: OrderStatusDetails
      parameters:
      - name: status_id
        in: path
        description: (Required) Status ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 224309239
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OK1'
                - examples:
                  - status: 200
                    success: true
                    data:
                      id: 1638621685
                      name: تم التنفيذ
                      type: custom
                      slug: completed
                      message: '[ {store.name} ] \n أصبحت حالة طلبك {order.id} {status}'
                      color: '#58C9B9'
                      icon: sicon-gold-badge
                      sort: 0
                      is_active: true
                      original:
                        id: 1298199463
                        name: تم التنفيذ
                      parent: null
                      children:
                      - id: 1422535667
                        name: جاري التوصيل
                        slug: delivering
                        type: custom
                        message: '[ {store.name} ] \n أصبحت حالة طلبك {order.id} {status}'
                        color: '#58C9B9'
                        icon: sicon-shipping
                        sort: 0
                        is_active: true
                      - id: 647449340
                        name: تم التوصيل
                        slug: delivered
                        type: custom
                        message: '[ {store.name} ] \n أصبحت حالة طلبك {order.id} {status}'
                        color: '#58C9B9'
                        icon: sicon-party-horn
                        sort: 1
                        is_active: true
                      - id: 1887201789
                        name: تم الشحن
                        slug: shipped
                        type: custom
                        message: '[ {store.name} ] \n أصبحت حالة طلبك {order.id} {status}'
                        color: '#58C9B9'
                        icon: sicon-shipping-fast
                        sort: 2
                        is_active: true
                contentMediaType: application/json
              example:
                status: 200
                success: true
                data:
                  id: 1638621685
                  name: تم التنفيذ
                  type: custom
                  slug: completed
                  message: '[ {store.name} ] \n أصبحت حالة طلبك {order.id} {status}'
                  color: '#58C9B9'
                  icon: sicon-gold-badge
                  sort: 0
                  is_active: true
                  original:
                    id: 1298199463
                    name: تم التنفيذ
                  parent: null
                  children:
                  - id: 1422535667
                    name: جاري التوصيل
                    slug: delivering
                    type: custom
                    message: '[ {store.name} ] \n أصبحت حالة طلبك {order.id} {status}'
                    color: '#58C9B9'
                    icon: sicon-shipping
                    sort: 0
                    is_active: true
                  - id: 647449340
                    name: تم التوصيل
                    slug: delivered
                    type: custom
                    message: '[ {store.name} ] \n أصبحت حالة طلبك {order.id} {status}'
                    color: '#58C9B9'
                    icon: sicon-party-horn
                    sort: 1
                    is_active: true
                  - id: 1887201789
                    name: تم الشحن
                    slug: shipped
                    type: custom
                    message: '[ {store.name} ] \n أصبحت حالة طلبك {order.id} {status}'
                    color: '#58C9B9'
                    icon: sicon-shipping-fast
                    sort: 2
                    is_active: true
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    put:
      tags:
      - Order Status
      summary: Update Statuses
      description: 'This endpoint allows you to update a custom order status using the parameters available to be sent as body request. '
      operationId: UpdateStatuses
      parameters:
      - name: status_id
        in: path
        description: (Required) Status ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 224309239
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateStatusesRequest'
              - examples:
                - parent_id: 863076598
                  name: تبقى 40 دقيقة على الدفع
                  message: أكمل الدفع الان
                  icon: sicon-cup-hot
                  sort: 3
                  is_active: true
              contentMediaType: application/json
            example:
              parent_id: 863076598
              name: تبقى 40 دقيقة على الدفع
              message: أكمل الدفع الان
              icon: sicon-cup-hot
              sort: 3
              is_active: true
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OK2'
                - examples:
                  - status: 200
                    success: true
                    data:
                      id: 224309239
                      name: حنراجع طلبك
                      type: custom
                      slug: under_review
                      message: حنراجع طلبك وقد تستغرق المراجعة 24 ساعة كحد أقصى
                      color: '#ED696D'
                      icon: sicon-back
                      sort: 5
                      is_active: true
                      original:
                        id: 566146469
                        name: بإنتظار المراجعة
                      parent: null
                      children: []
                contentMediaType: application/json
              example:
                status: 200
                success: true
                data:
                  id: 224309239
                  name: حنراجع طلبك
                  type: custom
                  slug: under_review
                  message: حنراجع طلبك وقد تستغرق المراجعة 24 ساعة كحد أقصى
                  color: '#ED696D'
                  icon: sicon-back
                  sort: 5
                  is_active: true
                  original:
                    id: 566146469
                    name: بإنتظار المراجعة
                  parent: null
                  children: []
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/NotFound1'
                - examples:
                  - status: 404
                    success: false
                    error:
                      code: error
                      message: المحتوى الذي تحاول الوصول اليه غير متوفر
                contentMediaType: application/json
              example:
                status: 404
                success: false
                error:
                  code: error
                  message: المحتوى الذي تحاول الوصول اليه غير متوفر
        '422':
          description: Unprocessable Entity (WebDAV) (RFC 4918)
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/UnprocessableEntity3'
                - examples:
                  - status: 422
                    success: false
                    error:
                      code: error
                      message: alert.invalid_fields
                      fields:
                        name:
                        - حقل عنوان الحالة - اسم الحالة مطلوب إذا لم يتوفّر نص الرسالة الفرعية / الفعالية.
                        message:
                        - حقل نص الرسالة الفرعية مطلوب إذا لم يتوفّر عنوان الحالة - اسم الحالة / الفعالية.
                        is_active:
                        - حقل الفعالية مطلوب إذا لم يتوفّر نص الرسالة الفرعية / عنوان الحالة - اسم الحالة.
                contentMediaType: application/json
              example:
                status: 422
                success: false
                error:
                  code: error
                  message: alert.invalid_fields
                  fields:
                    name:
                    - حقل عنوان الحالة - اسم الحالة مطلوب إذا لم يتوفّر نص الرسالة الفرعية / الفعالية.
                    message:
                    - حقل نص الرسالة الفرعية مطلوب إذا لم يتوفّر عنوان الحالة - اسم الحالة / الفعالية.
                    is_active:
                    - حقل الفعالية مطلوب إذا لم يتوفّر نص الرسالة الفرعية / عنوان الحالة - اسم الحالة.
      deprecated: false
      security:
      - bearer: []
    parameters: []
  /orders/{order_id}/cancel-shipment:
    post:
      tags:
      - Order Shipment
      summary: Cancel Order Shipment
      description: "You can cancel specific Order Shipment by providing the ID of the order you want to cancel in the *order.id* path parameter. \n\n> \U0001F4A1 __Note__\n>\n> You will need to send the parameters in your request: *shipment_number* and *shipment_type*\n\n"
      operationId: CancelOrderShipment
      parameters:
      - name: order_id
        in: path
        description: (Required) The Order ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 213320125
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CancelOrderShipmentRequest'
              - examples:
                - shipment_number: '846984644455'
                  shipment_type: shipment
              contentMediaType: application/json
            example:
              shipment_number: '846984644455'
              shipment_type: shipment
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/UntitledResponse'
                - examples:
                  - status: 200
                    success: true
                    data: null
                    message: تم الغاء بوليصة الشحن (846984644455)
                contentMediaType: application/json
              example:
                status: 200
                success: true
                data: null
                message: تم الغاء بوليصة الشحن (846984644455)
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/NotFound1'
                - examples:
                  - status: 404
                    success: false
                    error:
                      code: error
                      message: المحتوى الذي تحاول الوصول اليه غير متوفر
                contentMediaType: application/json
              example:
                status: 404
                success: false
                error:
                  code: error
                  message: المحتوى الذي تحاول الوصول اليه غير متوفر
        '422':
          description: Unprocessable Entity (WebDAV) (RFC 4918)
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/UntitledResponse2'
                - examples:
                  - status: 422
                    success: false
                    error:
                      code: error
                      message: رقم الشحنة لايتطابق مع رقم شحنة الطلب الحالية
                contentMediaType: application/json
              example:
                status: 422
                success: false
                error:
                  code: error
                  message: رقم الشحنة لايتطابق مع رقم شحنة الطلب الحالية
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/{order_id}/shipments:
    get:
      tags:
      - Order Shipment
      summary: List Order Shipments
      description: This endpoint allows you to fetch the complete details of a specific Order Shipments by providing the ID of the order you want to get its details in the order path parameter.
      operationId: ListOrderShipments
      parameters:
      - name: order_id
        in: path
        description: (Required) The Order ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 213320125
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OK3'
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ObjectNotFound5'
                - examples:
                  - status: 404
                    success: false
                    error:
                      code: error
                      message: المحتوى الذي تحاول الوصول اليه غير متوفر
                contentMediaType: application/json
              example:
                status: 404
                success: false
                error:
                  code: error
                  message: المحتوى الذي تحاول الوصول اليه غير متوفر
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/{order_id}/update-shipment:
    put:
      tags:
      - Order Shipment
      summary: Update Order Shipment
      description: You can update specific Order Shipment Details (tracking link, shipment number, pdf label and shipment type) by providing the ID of the order you want to update its details in the *order.id* path parameter.
      operationId: UpdateOrderShipment
      parameters:
      - name: order_id
        in: path
        description: (Required) The Order ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 213320125
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateOrderShipmentRequest'
              - examples:
                - tracking_link: https://api.shipengine.com/v1/labels/498498496/track
                  shipment_number: '846984645'
                  pdf_label: https://api.shipengine.com/v1/downloads/10/F91fByOB-0aJJadf7JLeww/label-63563751.pdf
                  shipment_type: return
                  cost: 40
              contentMediaType: application/json
            example:
              tracking_link: https://api.shipengine.com/v1/labels/498498496/track
              shipment_number: '846984645'
              pdf_label: https://api.shipengine.com/v1/downloads/10/F91fByOB-0aJJadf7JLeww/label-63563751.pdf
              shipment_type: return
              cost: 40
        required: true
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderShipmentDetailsupdatedsuccessfully'
        '422':
          description: Unprocessable Entity (WebDAV) (RFC 4918)
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Validationfailureresponse5'
                - examples:
                  - status: 422
                    success: false
                    error:
                      code: validation_failed
                      message: 'null'
                      fields:
                        '{field-name}':
                        - The {field-label} field is required.
                contentMediaType: application/json
              example:
                status: 422
                success: false
                error:
                  code: validation_failed
                  message: 'null'
                  fields:
                    '{field-name}':
                    - The {field-label} field is required.
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/{order_id}/tags:
    post:
      tags:
      - Order Tags
      summary: Create Tag
      description: >-
        You can you can assign specific order with a tag by using the tag name. by providing the ID of the order you want to add this tag to it in the *order.id* path parameter.


        You can get a list of available tags from [List Tags](../~1orders~1tags/get) endpoint.


        You can get a list of orders assigned to a tag from [List Orders](../~1orders/get) endpoint using tag query parameter.
      operationId: CreateTag
      parameters:
      - name: order_id
        in: path
        description: (Required) The Order ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 213320125
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateTagRequest'
              - examples:
                - tag_name: test
              contentMediaType: application/json
            example:
              tag_name: test
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/NewTagAssignedtoordersuccessfully.'
                - examples:
                  - status: 200
                    success: true
                    data:
                      id: 665151403
                      name: test
                contentMediaType: application/json
              example:
                status: 200
                success: true
                data:
                  id: 665151403
                  name: test
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/NotFound1'
                - examples:
                  - status: 404
                    success: false
                    error:
                      code: error
                      message: المحتوى الذي تحاول الوصول اليه غير متوفر
                contentMediaType: application/json
              example:
                status: 404
                success: false
                error:
                  code: error
                  message: المحتوى الذي تحاول الوصول اليه غير متوفر
        '422':
          description: Unprocessable Entity (WebDAV) (RFC 4918)
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Validationfailureresponse5'
                - examples:
                  - status: 422
                    success: false
                    error:
                      code: validation_failed
                      message: 'null'
                      fields:
                        '{field-name}':
                        - The {field-label} field is required.
                contentMediaType: application/json
              example:
                status: 422
                success: false
                error:
                  code: validation_failed
                  message: 'null'
                  fields:
                    '{field-name}':
                    - The {field-label} field is required.
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/tags:
    get:
      tags:
      - Order Tags
      summary: List Tags
      description: This endpoint allows you to list all available tags that already exist so that you could use them in tagging orders.
      operationId: ListTags
      parameters:
      - name: page
        in: query
        description: The Pagination page number
        required: true
        style: form
        explode: true
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 1
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Asuccessfulcallreturnsapayloadthatcontainsacurrentlistoforderstags.'
                - examples:
                  - status: 200
                    success: true
                    data:
                    - id: 665151403
                      name: test
                    pagination:
                      count: 1
                      total: 1
                      perPage: 60
                      currentPage: 1
                      totalPages: 1
                      links: []
                contentMediaType: application/json
              example:
                status: 200
                success: true
                data:
                - id: 665151403
                  name: test
                pagination:
                  count: 1
                  total: 1
                  perPage: 60
                  currentPage: 1
                  totalPages: 1
                  links: []
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /orders/{order_id}/tags/{tag_id}:
    delete:
      tags:
      - Order Tags
      summary: Delete Tag
      description: This endpoint allows you to delete a specific tag from a specific order by providing the ID of the tag you want to delete in the *tag.id* path parameter and providing the ID of the order in the *order.id* path parameter.
      operationId: DeleteTag
      parameters:
      - name: tag_id
        in: path
        description: (Required) The Tag ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 2024470747
      - name: order_id
        in: path
        description: (Required) The Order ID
        required: true
        style: simple
        schema:
          type: integer
          contentEncoding: int32
          examples:
          - 213320125
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ObjectDeletedSuccessfully.'
                - examples:
                  - status: 202
                    success: true
                    data:
                      message: The Object has been removed successfully
                      code: 202
                contentMediaType: application/json
              example:
                status: 202
                success: true
                data:
                  message: The Object has been removed successfully
                  code: 202
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ObjectNotFound1'
                - examples:
                  - success: false
                    status: 404
                    error:
                      code: 404
                      message: The content you are trying to access is no longer available
                contentMediaType: application/json
              example:
                success: false
                status: 404
                error:
                  code: 404
                  message: The content you are trying to access is no longer available
      deprecated: false
      security:
      - oauth2:
        - Customers
        - Read
        - Only
        - Orders
        - Carts
        - Branches
        - Categories
        - Brands
        - Products
        - Webhooks
        - Payments
        - Taxes
        - Special
        - Offers
        - Countries
        - Settings
        - Meta
        - Data
        - Shippings
        - Write
        - Marketing
    parameters: []
  /products:
    post:
      tags:
      - Products
      summary: Create Product
      description: "Products can be created within your store at Salla by providing the required data in this endpoint.\n\nYou can list available categories from [List Categories](https://docs.salla.dev/docs/merchant/0a8f8ce47eeab-list-categories) endpoint.\n\n> \U0001F4A1 __Note__\n>\n> ✅ Created products status will be `hidden` till attaching one image at least. <br>\n> ✅ Created products status will be `out` till adding a value in quantity parameter. <br>\n> ✅ Created products type cannot be changed after product created. <br>"
      operationId: CreateProduct
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          examples:
          - application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateProductRequest'
              - examples:
                - name: T-Shirt Blue
                  price: 96.33
                  status: out
                  product_type: product
                  quantity: 4
                  description: textophonious
                  categories:
                  - 1032561074
                  - 256950451
                  min_amount_donating: 1
                  max_amount_donating: 5
                  sale_price: 43
                  cost_price: 35
                  sale_end: 2025-08-13
                  require_shipping: false
                  maximum_quantity_per_order: 0
                  weight: 12
                  weight_type: kg
                  sku: 23-4324432
                  mpn: '45344432343'
                  gtin: '58636897'
                  hide_quantity: false
                  enable_upload_image: true
                  enable_note: true
                  pinned: true
                  active_advance: true
                  subtitle: Collection 2020
                  promotion_title: New
                  metadata_title: T-Shirt blue - collection 2020
                  metadata_description: T-Shirt blue - collection 2020
                  brand_id: 1097509908
                  tags:
                  - 1366932222
                  - 591845887
                  images:
                  - original: https://salla-dev.s3.eu-central-1.amazonaws.com/nWzD/2E0Z2t6Q8FG3ca620rwqcTY2CC2j2PAGrqqeDROY.jpg
                    thumbnail: https://salla-dev.s3.eu-central-1.amazonaws.com/nWzD/2E0Z2t6Q8FG3ca620rwqcTY2CC2j2PAGrqqeDROY.jpg
                    alt: image
                    default: true
                    sort: 5
                  options:
                  - name: option2
                    display_type: text
                    values:
                    - name: الأزرق
                      price: 120
                      quantity: 10
                    - name: الاحمر
                      price: 120
                      quantity: 10
                    - name: الاصفر
                      price: 120
                      quantity: 10
                  - name: option3
                    display_type: text
                    values:
                    - name: كبير
                      price: 120
                      quantity: 10
                    - name: صغير
                      price: 120
                      quantity: 10
                    - name: متوسط
                      price: 120
                      quantity: 10
              contentMediaType: application/json
            example:
              name: T-Shirt Blue
              price: 96.33
              status: out
              product_type: product
              quantity: 4
              description: textophonious
              categories:
              - 1032561074
              - 256950451
              min_amount_donating: 1
              max_amount_donating: 5
              sale_price: 43
              cost_price: 35
              sale_end: 2025-08-13
              require_shipping: false
              maximum_quantity_per_order: 0
              weight: 12
              weight_type: kg
              sku: 23-4324432
              mpn: '45344432343'
              gtin: '58636897'
              hide_quantity: false
              enable_upload_image: true
              enable_note: true
              pinned: true
              active_advance: true
              subtitle: Collection 2020
              promotion_title: New
              metadata_title: T-Shirt blue - collection 2020
              metadata_description: T-Shirt blue - collection 2020
              brand_id: 1097509908
              tags:
              - 1366932222
              - 591845887
              images:
              - original: https://salla-dev.s3.eu-central-1.amazonaws.com/nWzD/2E0Z2t6Q8FG3ca620rwqcTY2CC2j2PAGrqqeDROY.jpg
                thumbnail: https://salla-dev.s3.eu-central-1.amazonaws.com/nWzD/2E0Z2t6Q8FG3ca620rwqcTY2CC2j2PAGrqqeDROY.jpg
                alt: image
                default: true
                sort: 5
              options:
              - name: option2
                display_type: text
                values:
                - name: الأزرق
                  price: 120
                  quantity: 10
                - name: الاحمر
                  price: 120
                  quantity: 10
                - name: الاصفر
                  price: 120
                  quantity: 10
              - name: option3
                display_type: text
                values:
                - name: كبير
                  price: 120
                  quantity: 10
                - name: صغير
                  price: 120
                  quantity: 10
                - name: متوسط
                  price: 120
                  quantity: 10
        required: true
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Newproductcreatedsuccessfully.'
                - examples:
                  - status: 201
                    success: true
                    data:
                      id: 207865447
                      promotion:
                        title: New
                        sub_title: Collection 2020
                      sku: null
                      mpn: '45344432343'
                      gtin: '58636897'
                      type: product
                      name: T-Shirt Blue
                      short_link_code: xxwWwo
                      urls:
                        customer: https://salla.sa/dev-wofftr4xsra5xtlv/t-shirt-blue-collection-2020/p207865447
                        admin: https://s.salla.sa/products/207865447
                      price:
                        amount: 43
                        currency: SAR
                      taxed_price:
                        amount: 43
                        currency: SAR
                      pre_tax_price:
                        amount: 43
                        currency: SAR
                      tax:
                        amount: 0
                        currency: SAR
                      description: textophonious
                      quantity: 4
                      status: sale
                      is_available: true
                      views: 0
                      sale_price:
                        amount: 43
                        currency: SAR
                      sale_end: 2025-08-13
                      require_shipping: true
                      cost_price: '35.00'
                      weight: 12
                      weight_type: kg
                      with_tax: true
                      url: https://salla.sa/dev-wofftr4xsra5xtlv/t-shirt-blue-collection-2020/p207865447
                      main_image: https://salla-dev.s3.eu-central-1.amazonaws.com/nWzD/2E0Z2t6Q8FG3ca620rwqcTY2CC2j2PAGrqqeDROY.jpg
                      images:
                      - id: 712603963
                        url: https://salla-dev.s3.eu-central-1.amazonaws.com/nWzD/2E0Z2t6Q8FG3ca620rwqcTY2CC2j2PAGrqqeDROY.jpg
                        main: false
                        three_d_image_url: ''
                        alt: image
                        video_url: ''
                        type: image
                        sort: 5
                      sold_quantity: 0
                      rating:
                        total: 0
                        count: 1
                        rate: 0
                      regular_price:
                        amount: 96.33
                        currency: SAR
                      max_items_per_user: 0
                      maximum_quantity_per_order: null
                      show_in_app: true
                      notify_quantity: null
                      hide_quantity: false
                      unlimited_quantity: false
                      managed_by_branches: false
                      services_blocks:
                        installments: []
                      calories: null
                      starting_price: null
                      metadata:
                        title: T-Shirt blue - collection 2020
                        description: T-Shirt blue - collection 2020
                      allow_attachments: false
                      is_pinned: true
                      pinned_date: 2022-06-23 01:04:38
                      sort: 0
                      enable_upload_image: true
                      updated_at: 2022-06-23 01:04:38
                      options:
                      - id: 319461767
                        name: option2
                        description: null
                        type: text
                        required: false
                        associated_with_order_time: 0
                        availability_range: false
                        not_same_day_order: false
                        choose_date_time: null
                        from_date_time: null
                        to_date_time: null
                        sort: null
                        advance: true
                        display_type: text
                        visibility: always
                        translations:
                          ar:
                            option_name: option2
                            description: null
                        values:
                        - id: 1663429593
                          name: الأزرق
                          price:
                            amount: 0
                            currency: SAR
                          display_value: null
                          advance: true
                          option_id: 319461767
                          image_url: null
                          hashed_display_value: null
                          translations:
                            ar:
                              option_details_name: الأزرق
                        - id: 1023544026
                          name: الاحمر
                          price:
                            amount: 0
                            currency: SAR
                          display_value: null
                          advance: true
                          option_id: 319461767
                          image_url: null
                          hashed_display_value: null
                          translations:
                            ar:
                              option_details_name: الاحمر
                        - id: 250554843
                          name: الاصفر
                          price:
                            amount: 0
                            currency: SAR
                          display_value: null
                          advance: true
                          option_id: 319461767
                          image_url: null
                          hashed_display_value: null
                          translations:
                            ar:
                              option_details_name: الاصفر
                      - id: 1826076800
                        name: option3
                        description: null
                        type: text
                        required: false
                        associated_with_order_time: 0
                        availability_range: false
                        not_same_day_order: false
                        choose_date_time: null
                        from_date_time: null
                        to_date_time: null
                        sort: null
                        advance: true
                        display_type: text
                        visibility: always
                        translations:
                          ar:
                            option_name: option3
                            description: null
                        values:
                        - id: 1488209956
                          name: كبير
                          price:
                            amount: 0
                            currency: SAR
                          display_value: null
                          advance: true
                          option_id: 1826076800
                          image_url: null
                          hashed_display_value: null
                          translations:
                            ar:
                              option_details_name: كبير
                        - id: 714168101
                          name: صغير
                          price:
                            amount: 0
                            currency: SAR
                          display_value: null
                          advance: true
                          option_id: 1826076800
                          image_url: null
                          hashed_display_value: null
                          translations:
                            ar:
                              option_details_name: صغير
                        - id: 75396646
                          name: متوسط
                          price:
                            amount: 0
                            currency: SAR
                          display_value: null
                          advance: true
                          option_id: 1826076800
                          image_url: null
                          hashed_display_value: null
                          translations:
                            ar:
                              option_details_name: متوسط
                      skus:
                      - id: 112657257
                        price:
                          amount: 43
                          currency: SAR
                        regular_price:
                          amount: 0
                          currency: SAR
                        sale_price: null
                        stock_quantity: null
                        barcode: null
                        sku: null
                        mpn: null
                        gtin: null
                        related_options:
                        - 1663429593
                        - 1488209956
                        related_option_values:
                        - 1663429593
                        - 1488209956
                        weight: null
                        weight_type: kg
                        weight_label: ١٢ كجم
                      - id: 1352409706
                        price:
                          amount: 43
                          currency: SAR
                        regular_price:
                          amount: 0
                          currency: SAR
                        sale_price: null
                        stock_quantity: null
                        barcode: null
                        sku: null
                        mpn: null
                        gtin: null
                        related_options:
                        - 1663429593
                        - 714168101
                        related_option_values:
                        - 1663429593
                        - 714168101
                        weight: null
                        weight_type: kg
                        weight_label: ١٢ كجم
                      - id: 578371947
                        price:
                          amount: 43
                          currency: SAR
                        regular_price:
                          amount: 0
                          currency: SAR
                        sale_price: null
                        stock_quantity: null
                        barcode: null
                        sku: null
                        mpn: null
                        gtin: null
                        related_options:
                        - 1663429593
                        - 75396646
                        related_option_values:
                        - 1663429593
                        - 75396646
                        weight: null
                        weight_type: kg
                        weight_label: ١٢ كجم
                      - id: 2084986996
                        price:
                          amount: 43
                          currency: SAR
                        regular_price:
                          amount: 0
                          currency: SAR
                        sale_price: null
                        stock_quantity: null
                        barcode: null
                        sku: null
                        mpn: null
                        gtin: null
                        related_options:
                        - 1023544026
                        - 1488209956
                        related_option_values:
                        - 1023544026
                        - 1488209956
                        weight: null
                        weight_type: kg
                        weight_label: ١٢ كجم
                      - id: 1311543157
                        price:
                          amount: 43
                          currency: SAR
                        regular_price:
                          amount: 0
                          currency: SAR
                        sale_price: null
                        stock_quantity: null
                        barcode: null
                        sku: null
                        mpn: null
                        gtin: null
                        related_options:
                        - 1023544026
                        - 714168101
                        related_option_values:
                        - 1023544026
                        - 714168101
                        weight: null
                        weight_type: kg
                        weight_label: ١٢ كجم
                      - id: 403287670
                        price:
                          amount: 43
                          currency: SAR
                        regular_price:
                          amount: 0
                          currency: SAR
                        sale_price: null
                        stock_quantity: null
                        barcode: null
                        sku: null
                        mpn: null
                        gtin: null
                        related_options:
                        - 1023544026
                        - 75396646
                        related_option_values:
                        - 1023544026
                        - 75396646
                        weight: null
                        weight_type: kg
                        weight_label: ١٢ كجم
                      - id: 1977011575
                        price:
                          amount: 43
                          currency: SAR
                        regular_price:
                          amount: 0
                          currency: SAR
                        sale_price: null
                        stock_quantity: null
                        barcode: null
                        sku: null
                        mpn: null
                        gtin: null
                        related_options:
                        - 250554843
                        - 1488209956
                        related_option_values:
                        - 250554843
                        - 1488209956
                        weight: null
                        weight_type: kg
                        weight_label: ١٢ كجم
                      - id: 1202973808
                        price:
                          amount: 43
                          currency: SAR
                        regular_price:
                          amount: 0
                          currency: SAR
                        sale_price: null
                        stock_quantity: null
                        barcode: null
                        sku: null
                        mpn: null
                        gtin: null
                        related_options:
                        - 250554843
                        - 714168101
                        related_option_values:
                        - 250554843
                        - 714168101
                        weight: null
                        weight_type: kg
                        weight_label: ١٢ كجم
                      - id: 295177073
                        price:
                          amount: 43
                          currency: SAR
                        regular_price:
                          amount: 0
                          currency: SAR
                        sale_price: null
                        stock_quantity: null
                        barcode: null
                        sku: null
                        mpn: null
                        gtin: null
                        related_options:
                        - 250554843
                        - 75396646
                        related_option_values:
                        - 250554843
                        - 75396646
                        weight: null
                        weight_type: kg
                        weight_label: ١٢ كجم
                      categories:
                      - id: 1032561074
                        name: الفساتين
                        urls:
                          customer: https://salla.sa/dev-wofftr4xsra5xtlv/الفساتين/c1032561074
                          admin: https://s.salla.sa/categories
                        items: []
                        parent_id: 0
                        status: active
                        sort_order: 1
                        update_at:
                          date: 2022-04-25 19:46:26.000000
                          timezone_type: 3
                          timezone: Asia/Riyadh
                      - id: 256950451
                        name: البلايز
                        urls:
                          customer: https://salla.sa/dev-wofftr4xsra5xtlv/البلايز/c256950451
                          admin: https://s.salla.sa/categories
                        items: []
                        parent_id: 0
                        status: active
                        sort_order: 2
                        update_at:
                          date: 2022-01-16 15:35:55.000000
                          timezone_type: 3
                          timezone: Asia/Riyadh
                      brand:
                        id: 1097509908
                        name: بوما
                        description: بوما وصف بالعربي
                        banner: https://cdn.salla.sa/bYQEn/69QZx9DHUIQDLCoN7YAq9htHBH0tzD5luk5Rob7w.png
                        logo: https://cdn.salla.sa/bYQEn/QqxF15HPwXw92PPsI7xSZ6F8ONWlOPojoWl48y4W.png
                        ar_char: ب
                        en_char: B
                      tags:
                      - id: 1366932222
                        name: tag1
                      - id: 591845887
                        name: tag2
                contentMediaType: application/json
              example:
                status: 201
                success: true
                data:
                  id: 207865447
                  promotion:
                    title: New
                    sub_title: Collection 2020
                  sku: null
                  mpn: '45344432343'
                  gtin: '58636897'
                  type: product
                  name: T-Shirt Blue
                  short_link_code: xxwWwo
                  urls:
                    customer: https://salla.sa/dev-wofftr4xsra5xtlv/t-shirt-blue-collection-2020/p207865447
                    admin: https://s.salla.sa/products/207865447
                  price:
                    amount: 43
                    currency: SAR
                  taxed_price:
                    amount: 43
                    currency: SAR
                  pre_tax_price:
                    amount: 43
                    currency: SAR
                  tax:
                    amount: 0
                    currency: SAR
                  description: textophonious
                  quantity: 4
                  status: sale
                  is_available: true
                  views: 0
                  sale_price:
                    amount: 43
                    currency: SAR
                  sale_end: 2025-08-13
                  require_shipping: true
                  cost_price: '35.00'
                  weight: 12
                  weight_type: kg
                  with_tax: true
                  url: https://salla.sa/dev-wofftr4xsra5xtlv/t-shirt-blue-collection-2020/p207865447
                  main_image: https://salla-dev.s3.eu-central-1.amazonaws.com/nWzD/2E0Z2t6Q8FG3ca620rwqcTY2CC2j2PAGrqqeDROY.jpg
                  images:
                  - id: 712603963
                    url: https://salla-dev.s3.eu-central-1.amazonaws.com/nWzD/2E0Z2t6Q8FG3ca620rwqcTY2CC2j2PAGrqqeDROY.jpg
                    main: false
                    three_d_image_url: ''
                    alt: image
                    video_url: ''
[...]
